In [54]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats

In [4]:
dt=pd.read_csv("sales_add.csv")
dt

       Month      Region      Manager      sb      sa
0    Month-1  Region - A  Manager - A  132921  270390
1    Month-2  Region - A  Manager - C  149559  223334
2    Month-3  Region - B  Manager - A  146278  244243
3    Month-4  Region - B  Manager - B  152167  231808
4    Month-5  Region - C  Manager - B  159525  258402
5    Month-6  Region - A  Manager - B  137163  256948
6    Month-7  Region - C  Manager - C  130625  222106
7    Month-8  Region - A  Manager - A  131140  230637
8    Month-9  Region - B  Manager - C  171259  226261
9   Month-10  Region - C  Manager - B  141956  193735
10  Month-11  Region - B  Manager - C  159339  203175
11  Month-12  Region - A  Manager - A  178939  276279
12  Month-13  Region - B  Manager - A  145062  205180
13  Month-14  Region - A  Manager - A  151514  253131
14  Month-15  Region - C  Manager - A  147463  229336
15  Month-16  Region - A  Manager - B  177195  187305
16  Month-17  Region - A  Manager - C  140862  234908
17  Month-18  Region - C  Manager - B  167996  191517
18  Month-19  Region - B  Manager - A  132135  227040
19  Month-20  Region - A  Manager - B  152493  212579
20  Month-21  Region - B  Manager - A  147425  263388
21  Month-22  Region - A  Manager - C  130263  243020

In [7]:
#Column Head remaned for ease of use
#sa is sales after DM
#sb is sales before DM

In [5]:
dt["sa"].describe()

count        22.000000
mean     231123.727273
std       25556.777061
min      187305.000000
25%      214960.750000
50%      229986.500000
75%      250909.000000
max      276279.000000
Name: sa, dtype: float64

In [6]:
dt["sb"].describe()

count        22.000000
mean     149239.954545
std       14844.042921
min      130263.000000
25%      138087.750000
50%      147444.000000
75%      157627.500000
max      178939.000000
Name: sb, dtype: float64

# whether there is any increase in sales after stepping into digital marketing.

In [8]:
#H0: There is no increase in sales after stepping into digital marketing
#Ha: There is increase in sales after stepping into digital marketing

In [14]:
from scipy.stats import ttest_ind
alpha=0.05
n=dt['sb']
c=dt['sa']

In [15]:
_,p=ttest_ind(n,c)
if p> alpha:
    print ('fail to reject the Null Hypothesis')
else:
    print('Reject the Null Hypothesis')

Reject the Null Hypothesis

In [ ]:
#since we rejected the null hypothesis, accepting the alternate one

There is no dependency between the features “Region” and “Manager”

# whether there is any dependency between the features “Region” and “Manager”.

In [16]:
#H0 there is no dependency between the features “Region” and “Manager”
#Ha there is a dependency between the features “Region” and “Manager”

In [51]:
from scipy.stats import chi2_contingency

In [18]:
dt1=pd.crosstab(dt["Region"],dt["Manager"])
dt1

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [42]:
tcv, pv, dof, ev = chi2_contingency(dt1)

In [44]:
print('Chi sqaure Test Statistic is ',tcv)
print('P value of test data is ',pv)
print('Degrees of Freedom is ',dof)
print('Expected observations of data are ',ev)

Chi sqaure Test Statistic is  3.050566893424036
P value of test data is  0.5493991051158094
Degrees of Freedom is  4
Expected observations of data are  [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [55]:
cc=stats.chi2.ppf(1-0.05,4)
cc

9.487729036781154

In [56]:
if(tcv>cc and pv<alpha):
    print('reject the null hypothesis')
else:
    print('fail to reject the null hypothesis')

fail to reject the null hypothesis

In [60]:
#since we fail to rejected the null hypothesis, accepting the null hypothesis

There is no dependency between the features “Region” and “Manager”